<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>Game Tracker</string>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleIdentifier</key>
	<string>com.gametrackerpro.gametracker</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Football</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.3.3</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>Eazesportz</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>1.3.3</string>
	<key>EazesportzAdSupport</key>
	<true/>
	<key>GameTrackerSports</key>
	<dict>
		<key>Basketball</key>
		<string>Basketball</string>
		<key>Football</key>
		<string>Football</string>
		<key>Lacrosse</key>
		<string>Lacrosse</string>
		<key>Soccer</key>
		<string>Soccer</string>
		<key>Water Polo</key>
		<string>Water Polo</string>
		<key>Hockey</key>
		<string>Hockey</string>
	</dict>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>SecureSportzServerUrl</key>
	<string>http://192.168.1.73:3000</string>
	<key>SportzServerUrl</key>
	<string>http://192.168.1.73:3000</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UIStatusBarStyle</key>
	<string>UIStatusBarStyleBlackTranslucent</string>
	<key>UIStatusBarTintParameters</key>
	<dict>
		<key>UINavigationBar</key>
		<dict>
			<key>Style</key>
			<string>UIBarStyleDefault</string>
			<key>Translucent</key>
			<false/>
		</dict>
	</dict>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>apptype</key>
	<string>client</string>
	<key>s3bucket</key>
	<string>sportsite_solutions</string>
	<key>sportzteams</key>
	<string>Football</string>
</dict>
</plist>
